/*播放缩略图*/
.mod-play{
	margin-right:.1%;
	display:block;
	text-align:left;
	position:relative;
	float:left;
	width:1.9%;
	padding-bottom:10px;
}
	.mod-play-box{
		padding-top:100%;
	}
	.mod-play-box img{
		position:absolute;
		top:0;
		width:100%;
		object-fit:cover;
	}
	.mod-play h4{
		font-weight:400;
		cursor:pointer;
	}
	.mod-play h4:hover{
		color:#31c27c;
	}
	.mod-play p{
		font-weight:300;
		font-size:90%;
		color:#999;
		cursor:pointer;
	}



/*小播放缩略图*/
.mod-sPlay{
	position:relative;
	display:inline-block;
	width:30%;
	margin-right:2%;
	margin-bottom:10px;
	border-bottom:1px solid rgba(0,0,0,.1);
}
	.mod-sPlay-img{
		position:relative;
		padding-right:10px;
		margin-bottom:5px;
		float:left;
		width:86px;
		height:86px;
	}
		.mod-sPlay-img img{
			width:100%;
			height:100%;
		}
	.mode-sPlay-text{
		position:relative;
		font-size:14px;
	}
		.mod-sPlay-text h4{
			font-weight:400;
			padding:21px 0 2px;
			white-space:nowrap;
			text-overflow:ellipsis;

		}
		.mod-sPlay-text p a{
			font-size:90%;
			color:#999;
			white-space:nowrap;
			text-overflow:ellipsis;
		}
	.mod-sPlay-time{
		position:absolute;
		right:0;
		top:0;
		line-height:86px;
		color:#999;
	}


/*角标*/
.mod-font{
	text-align:center;
}
	.mod-font-item{
		display:inline-block;
		background: black;
		margin:0 8px;
		width:8px;
		height:8px;
		border-radius:50%;
		cursor:pointer;
		opacity:.2;
	}
	.mod-font-item:hover{
		opacity:.8;
	}


/*副标题*/
.mod-title{
	text-align:center;
	height:100px;
	font-size:32px;
	font-weight:400;
	line-height:100px;
}


/*分导航*/
.mod-nav{
	text-align:center;
	margin:28px 0;
}
	.mod-nav-item{
		display:inline-block;
	}
	.mod-nav-item a:hover{
		color:#31c27c;
	}


/*左右箭头*/
	.mod-left{
		transition:all 1s;
		position:absolute;
		top:0;
		left:0;
		height:100%;
	}
	.mod-right{
		transition:all 1s;
		position:absolute;
		top:0;
		right:0;
		height:100%;
	}
		.mod-left a{
			position:relative;
			top:50%;
			transform:translate(-100%,-50%);
			height: 100px;
			width: 40px;
			background:red;
		}

		.mod-right a{
			position:relative;
			top:50%;
			transform:translate(100%,-50%);
			height: 100px;
			width: 40px;
			background:red;
		}